/* Global variables */

/* Colors */
$primary-color: #fff;
$secondary-color: #000;
$background-color: #fff;
$border-color: #ddd;
$text-color: #064C76;
$text-button-color: #fff;
$button-color: #064C76;