<form (ngSubmit)="onSubmit()" [formGroup]="movieForm">
  <div formGroupName="movieTitleOrId">
    <div>
      <label for="identifiant-movie">Identifiant</label>
      <input name="identifiant-movie" type="text" formControlName="identifiant">
    </div>
    <div>
      <label for="title-movie">Titre</label>
      <input name="title-movie" type="text" formControlName="title">
    </div>
    <div *ngIf="movieForm.get('movieTitleOrId')?.hasError('required', ['identifiant', 'title'])">
      <span>L'un des deux champs Identifiant ou Titre doit être renseigné</span>
    </div>
  </div>
  <div>
    <label for="type-movie">Type</label>
    <select name="type-movie" formControlName="type">
      <option value="film">Film</option>
      <option value="série">Série</option>
      <option value="épisode">Épisode</option>
    </select>
  </div>
  <div *ngIf="movieForm.controls.type.errors">
    <span *ngIf="movieForm.controls.type.errors?.['required']">Le champ type est requis</span>
  </div>
  <div>
    <label for="releaseDate-movie">Date</label>
    <input name="releaseDate-movie" type="date" formControlName="releaseDate">
  </div>
  <div *ngIf="movieForm.controls.releaseDate.errors">
    <span *ngIf="movieForm.controls.releaseDate.errors?.['required']">Le champ date est requis</span>
  </div>
  <div>
    <label for="format-movie">Format</label>
    <select name="format-movie" formControlName="format">
      <option value="completed">complète</option>
      <option value="short">courte</option>
    </select>
  </div>
  <div *ngIf="movieForm.controls.format.errors">
    <span *ngIf="movieForm.controls.format.errors?.['required']">Le champ format est requis</span>
  </div>
  <!-- <button type="reset">Restaurer</button> -->
  <button type="submit" [disabled]="!movieForm.valid">Sauvegarder</button>
</form>